.product {
  background-color: var(--white);
  border-bottom: 1px solid var(--light-gray);
  cursor: pointer;
  margin: auto;
  max-width: 1200px;

  .productInfo {
    border-bottom: 1px solid var(--light-gray);
    display: flex;
  }

  .productDetail {
    width: 100%;
  }

  .amount {
    align-items: center;
    display: flex;
    gap: 10px;
    margin: 16px 0 0 0;

    .price {
      font-size: 18px;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;

    .currency {
      margin-right: 20%;
      order: 2;
    }
  }

  .container {
    height: auto;
    width: 100%;
  }

  .img {
    border-radius: 4px;
    margin: 16px;
  }

  .icon {
    align-items: center;
    background-color: var(--green);
    border-radius: 50%;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;
  }
}
