.header {
  background-color: var(--yellow);
  border-bottom: 1px solid var(--gray-light);
  height: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;

  .wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 1200px;
  }
}

@media screen and (max-width: 769px) {
}
